<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul>
                <li routerLink="/home" routerLinkActive="active"><a >Hatlay</a></li>
                <li *Iflogged  routerLink="/orders" routerLinkActive="active" ><a >orders</a></li>
                <li *Iflogged  routerLink="/friends" routerLinkActive="active" ><a >friends</a></li>
                <li *Iflogged  routerLink="/groups" routerLinkActive="active" ><a >groups</a></li>                
            </ul>

            <a   data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="right hide-on-med-and-down">
                <ul>
                <li *Iflogged  ><a  (click)="logout()" >logout</a></li>
                <li *Iflogged  routerLink="/profile" routerLinkActive="active" ><a >{{user.name}}</a></li>
                <li *Iflogged="false"  ><a   routerLink="/login" routerLinkActive="active">login</a></li>
                <li *Iflogged="false"  ><a  routerLink="/register" routerLinkActive="active">register</a></li>
                </ul>
            </div>
            <div class="right hide-on-med-and-down">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>

            <ul class="side-nav" id="mobile-demo">
            <li *ngFor="let n of navList"><a routerLink="/{{n}}" routerLinkActive="active">{{n}}</a></li>

            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

