<div class="row">
  <div class="col s12 m5 l4">
    <div class="card">
      <div class="card-image">
        <img src="http://demo.geekslabs.com/materialize/v2.3/layout03/images/gallary/3.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">

        <a href="#">Change Picture</a>


      </div>

    </div>
  </div>



  <div class="col s12 m7 l8">
    <div class="card">
      <div class="card-content">
        <div class="row">

          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <i style="font-size:2in" class="material-icons">group_work</i>
              </div>
              <div class="card-content">
                <h2 class="center">25</h2>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <i style="font-size:2in" class="material-icons">supervisor_account</i>
              </div>
              <div class="card-content">
                <h2 class="center">25</h2>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <i style="font-size:2in" class="material-icons">done_all</i>
              </div>
              <div class="card-content">
                <h2 class="center">25</h2>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>




</div>

<div class="circle" style="background-color: red" >
  25
</div>