<div> 
<p>
  listorders works!
              
</p>

  <table>
        <thead>
          <tr>
              <th>Order Number</th>
              <th>Order Name</th>
              <th>Order Users</th>
              <th>Unique Users</th>
             <th>Creation Date</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let order of orderslist; let i = index;">
            <td>{{order.number}}</td>
            <td>{{order.name}}</td>
            <td>{{order.users.length}}</td>
            <td>{{order.meals|unique:"userId"}}</td>
            <td>{{order.createdate}}</td>
          </tr>

        </tbody>
      </table>
</div> 