<p>
  groups works!
</p>
<div>

<app-singlegroup [group]="'MND'"></app-singlegroup>
<ul>
<li *ngFor="let item of user?.friends; let i = index; ">{{friend1}}</li>
</ul>

<ul>
<li *ngFor="let item of choosenList; let i = index; ">
  User name:{{item.name}}

  Email: {{item.email}}

  <button (click)="removefromlist(i)">remove</button>
  
  
  </li>
</ul>
  <input placeholder="User Name"  list="browsers"  #inp >
  <button (click)="addtolist(inp.value);inp.value=''" >add User</button>
<datalist id="browsers">
  
 <option *ngFor="let item of userfriends; let i = index;"   [value]="item.email" >{{item.name}}</option>
</datalist>

  <input placeholder="Group name"   #gname >
  

  <div class="file-field input-field">
      <div class="btn">
        <span>Image</span>
        <input type="file" accept="image/x-png,image/gif,image/jpeg" #Image >
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" #fname type="text">
      </div>
    </div>

  <button (click)="addgroup(Image.files,gname.value);gname.value= fname.value='';" >Add Group</button>













</div>